.aboutText {
  font-family: 'Kranky';
  margin-left: 2rem;
  margin-right: 2rem;
}

.aboutCircleSeparation {
  clip-path: circle(62% at 17.9% 46.35%);
  shape-outside: circle(70% at 17.9% 46.35%);
  float: left;
  max-width: 50vw;
}

  