.header {
    height: inherit;
    width: inherit;
    position: absolute; 
    overflow: auto;
    resize: both;
    
/*     aspect-ratio: 400/250;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url('/blobScene.svg'); */
}


.fruitBasketBorderCircle {
  fill: rgb(109, 173, 229);
  animation: color-transit 2s ease-in-out;
  animation-iteration-count: infinite;
}


/* animations for fruitBasket */
@keyframes color-transit {
  0% {
    fill: #6dade5;
  }
  25% {
    fill: #70fb8e;
  }
  50% {
    fill: #fff700;
  }
  75% {
    fill: #e56d6d;
  }
  100% {
    fill: #6dade5;
  }
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#basketLogoClicked {
  animation: spin 1s;
  animation-iteration-count: infinite linear;
} */
  