.headerCurve {
    height: inherit;
    width: inherit;
    background: whitesmoke;
    position: absolute;
/*     display: flex;
    align-items: flex-end; */
    
    overflow: auto;
    resize: both;
    border: 3px black solid;
}
 .headerCurve svg {
    
}
.headerCurve .shapeFill {
    fill: #FF7459;
    
}


.fruitBasketLogoFill {
  fill: rgb(109, 173, 229);
}


/* animations for fruitBasketLogo */
@keyframes color-transit {
  from {
    background-color: rgb(109, 173, 229);
  }
  to {
    background-color: rgb(255, 0, 0);
  }
}
.fruitBasketLogoFill:hover {
  animation: color-transit 0.1s;
  animation-iteration-count: infinite;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#basketLogoClicked {
  animation: spin 1s;
  animation-iteration-count: infinite linear;
} */
  