.header {
    height: inherit;
    overflow: auto;
    resize: both;
    display: flex;
    flex-direction: column;
    align-items: center;

  aspect-ratio: 2000/2000;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url('/waves_yellow.svg');
}

.teethTop {
  animation: teeth-bite-top 4s;
  animation-iteration-count: infinite;
}
.teethBottom {
  animation: teeth-bite-bottom 4s;
  animation-iteration-count: infinite;
}
@keyframes teeth-bite-top {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes teeth-bite-bottom {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logoCircleImage {
  animation: change-image 8s;
  animation-iteration-count: infinite;
}
@keyframes change-image {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 100%;
  } 
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.containerButton {
  display: flex;
  width: 100px;
}
.button {
  position: sticky;
  width:100%;
  aspect-ratio:1;
  /* background: #98d5a24d;
  border-radius:50px; */
}
.button:before {
  content:"";
  position:absolute;
  inset:35%;
  transform:translateY(300%) rotate(135deg);
  border-top:5px solid #000000;
  border-right:5px solid #7ECBE9;
}




.iDot {
  animation: bounce 3s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translate(0%, 0px);
   
  }
  25% {
    transform: translate(0%, 0.1px);
  }
  50% {
    transform: translate(0.1px, -3px);

  }
  75% {
    transform: translate(-0.1px, 0.3px);
  }
  100% {
    transform: translate(0%, 0px);
   
  }
}

.fruitBasketBorderCircle {
  fill: rgb(109, 173, 229);
  animation: color-transit 2s ease-in-out;
  animation-iteration-count: infinite;
}
/* animations for fruitBasket */
@keyframes color-transit {
  0% {
    fill: #6dade5;
  }
  25% {
    fill: #70fb8e;
  }
  50% {
    fill: #fff700;
  }
  75% {
    fill: #e56d6d;
  }
  100% {
    fill: #6dade5;
  }
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#basketLogoClicked {
  animation: spin 1s;
  animation-iteration-count: infinite linear;
} */
  