.main {
  display: grid;
  grid-template-columns: auto 0px;
  scroll-behavior: smooth;
}

/* .main::after {
  content: "";
  height: 100%;
  opacity: .1;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  background-image: url('/noise.svg');
} */

.containerBackToTopButton {
  --offset: 100px;
  --fade: 120px;
  
  display: flex;
  width: 60px;
  justify-self: end;
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-mask:linear-gradient(#0000 calc(100vh + var(--offset)),#000 calc(100vh + var(--offset) + var(--fade)));
}
.backToTopButton {
  position: sticky;
  bottom: 20px;      
  margin-right: 10px; 
  width:100%;
/*   aspect-ratio:1;
  background: rgba(255 181 199);
  border-radius:10px; */
}
.backToTopButton:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}




