.mapResponsive {
    overflow: hidden;
    padding-bottom: 66.25%; 
    position: relative;
    height: 0;
    width: 98%;
}
.mapResponsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;

  border-radius: 0.3rem;
    border-style: dashed;
    border-color: black;
    border: 0.1rem;
}

/* .outsideViewBg {
  aspect-ratio: 3/2;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  background-image: url('/outside-view.jpeg');

  z-index: -20;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 81rem;
  border-top-left-radius: 110rem;
  border-top-right-radius: 54rem;
  border-bottom-right-radius: 106rem;
} */


.curveSeparation {
  aspect-ratio: 450/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url('/curveSeparationMenuTransparent.svg');

  z-index: 5;
}
