.menu {
  aspect-ratio: 450/900;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url('/wavesMenuSection.svg');
}

/* .curveSeparation {
  aspect-ratio: 450/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  background-image: url('/curveSeparationMenuTransparent.svg');
}
 */