.containerButton {
  display: flex;
  width: 100px;
}
.button {
  position: sticky;
  width:100%;
  aspect-ratio:1;
}
.button:before {
  content: "";
  position: absolute;
  inset: 35%;
  transform: translateY(-50%) translateX(385%) rotate(315deg);
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}
/* .dropdown {
  width: inherit;
  position: relative;
  display: inline-block;
} */
.dropdownContent {
  display: none;
  
}

.dropdown:hover .dropdownContent {
  display: block;
  transform: translateY(-100px);
}