/*//// upper and lower teeth within logo circle moving in and out as if biting ////*/

/* .teethTop {
  animation: teeth-bite-top 4s;
  animation-iteration-count: infinite;
}
.teethBottom {
  animation: teeth-bite-bottom 4s;
  animation-iteration-count: infinite;
}
@keyframes teeth-bite-top {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes teeth-bite-bottom {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
} */


/*//// loop of randomly chosen image to fade in and out inside logoCircle ////*/

/* .logoCircleImage {
  animation: change-image 8s;
  animation-iteration-count: infinite;
}
@keyframes change-image {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 100%;
  } 
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
} */


/*//// custom design for arrow button to get to the list of menu items ////*/

/* .containerButton {
  display: flex;
  width: 100px;
}
.button {
  position: sticky;
  width: 100%;
  aspect-ratio: 1;
}
.button:before {
  content: "";
  position: absolute;
  inset: 35%;
  transform: translateY(300%) rotate(135deg);
  border-top: 5px solid #000000;
  border-right: 5px solid #7ECBE9;
} */
