@media (max-width: 740px) {
  .wideScreen {
  display: none;
  }
  .mobile {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #fffff6;
    height: 60px;
    width: 100%;
  }  
  /* .link {
    display: none;
    position: absolute;
    top: 0.5rem;
  } */
  .button {
    left: 1rem;
    position: absolute;
    display: flex;
    width: 33%;
    height: 45%;
    top: 17px;
}
  .instaLogo {
    right: 1rem;
    top: 0.7rem;
    position: absolute;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 740px) {
  .mobile {
  display: none;
 }
   .wideScreen {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 60px;
  width: 100%;
}
  .navList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  }
 .instaLogo {
    right: 2rem;
    position: absolute;
  }
}