.dropdown {
  /* position: relative;
  display: inline-block; */
  width: inherit;
}
.button {
 
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #7ECBE9;
  width: 90%;
  box-shadow: 0px 8px 8px 0px #366070;
  padding: 60px 16px;
  z-index: 11;
}

.dropdown:hover .dropdownContent {
  display: block;
}