.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  height: 50px;
  border-bottom: 1.13rem solid #19155a;
  list-style: none;
  position: sticky;
  top: 0px;
}
.navLink {
  text-decoration: none;
  color:black;
  font-family: 'Roboto mono', monospace;
  font-weight: 600;
  font-size: larger;
}